$(".nav-pills li").removeClass("active")
$(".nav-pills #popular").addClass("active")
$(".proto-list .row").html("#{ j(render partial: "prototypes/prototype", collection: @prototypes)}")
$("#pagination").html("#{ j(render "prototypes/pagination", prototypes: @prototypes)}")
